repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-ast
        exclude: (tests/data/__init__.py)
      - id: check-added-large-files
      - id: check-toml
      - id: check-json
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: DEPS_LICENSES.md

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        types_or: [python, pyi]
        args: [--fix]
        exclude: (/test_|tests/)
      - id: ruff-check
        types_or: [python, pyi]
        args: ["--select", "I", "--fix"]
        exclude: (tests/data/)
      - id: ruff-format
        types_or: [python, pyi]
        exclude: (tests/data/)

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        args: [-r]
        exclude: (/test_|tests/)

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py313-plus]

  - repo: local
    hooks:
      - id: ty
        name: ty type checker
        entry: uv run ty check
        language: system
        types: [python]
        pass_filenames: false

      - id: licensecheck
        name: licensecheck
        entry: uv run licensecheck -r pyproject.toml
        language: system
        files: pyproject\.toml$
